<section id="intro">
  <div class="container-lg">
    <div class="row g-4 justify-content-center align-items-center">
      <div class="col-md-5 text-center text-md-start">
        <h1>
          <div class="display-4">Tatiane Sala</div>
          <div class="display-6 text-muted">Front End Developer</div>
        </h1>
        <img src="/assets/images/t-sala.jpg" class="img-fluid" alt="ebook" />
      </div>
      <div class="col-md-5 text-center d-none d-md-block">
        <span
          class="tsala"
          data-bs-placement="bottom"
          title="Net Ninja Pro book cover"
        >
          <p class="lead my-4 text-muted">
            > Angular 12, Typescript, NgRx, RxJS,
          </p>
          <p class="lead my-4 text-muted">
            > React.js / Redux / Redux Saga, > Vue.js / Vuex,
          </p>
          <p class="lead my-4 text-muted">> Jest, Jasmine,</p>
          <p class="lead my-4 text-muted">> Git/GitHub,</p>
          <p class="lead my-4 text-muted">> Agile web methodologies</p>
        </span>
        <div>
          <a href="#pricing" class="btn btn-secondary btn-lg"
            >Download Resume</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<section id="reviews" class="bg-altlight my-5">
  <div class="container-lg">
    <div class="text-center">
      <h2><i class="bi bi-stars text-altdark"></i>Skills</h2>
      <p class="lead">Here's an overview of my skills</p>
    </div>

    <div class="row justify-content-center my-5">
      <div class="col-lg-8">
        <div class="list-group">
          <div class="list-group-item py-3">
            <div class="pb-2">
              <i class="bi bi-star-fill text-altdark"></i>
              <i class="bi bi-star-fill text-altdark"></i>
              <i class="bi bi-star-fill text-altdark"></i>
              <i class="bi bi-star-fill text-altdark"></i>
              <i class="bi bi-star-fill text-altdark"></i>
            </div>
            <h5 class="mb-1">abc</h5>
            <p class="mb-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
              error veniam sit expedita est illo maiores neque quos nesciunt,
              reprehenderit autem odio commodi labore praesentium voluptate
              repellat in id quisquam.
            </p>
            <small>Review by TSALA</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container-lg">
    <div class="text-center">
      <h2>Get in Touch</h2>
      <p class="lead">You can contact me through these platforms:</p>
    </div>
    <div class="row justify-content-center my-5">
      <div class="col-lg-6"></div>
    </div>
  </div>
</section>
